<html>
<body>
<div>
    Email 地址验证<br>
    这封邮件是由<a href="http://localhost:8080/admin/user/page" target="_blank">本地</a>发送的。<br>
    您如果收到这封邮件，是由于在<a href = "http://localhost:8080/admin/user/page" target="_blank">本地</a>进行了管理员注册<br>
    如果您并没有访问过<a href = "http://localhost:8080/admin/user/page" target="_blank">本地的旅游管理系统</a>，请忽略这封邮件。
    --------------------------------------------------<br>
    账号激活说明<br>
    --------------------------------------------------<br>
    请点击下面的链接激活您的账号：<br>
    <a th:href="@{${activationUrl}}"><span th:text="${activationUrl}"></span></a><br>
    感谢您的访问，祝您生活愉快！<br>
    此致<br>
    <a href = "http://localhost:8080/admin/user/page" target="_blank">快捷跳转界面</a>管理团队。
</div>
</body>
</html>